{% include 'header.html' %}

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->

					<section class="banner onload-image-fade-in onload-content-fade-right style3 fullscreen orient-right content-align-left image-position-center">
						<div class="content">
							<h1>#30DayMapChallenge</h1>
							<p class="major">Last November 2025, I took part in the annual mapping challenge which features unique <a href="https://30daymapchallenge.com/" target="_blank">themes</a> for the the entire day of the month.</p>
							<ul class="actions stacked">
								<li><a href="#first" class="button primary big wide smooth-scroll-middle">Take a look!</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/banner.png" alt="" />
						</div>
					</section>

                {% set ns = namespace(counter=1) %}
                {% for entry in data %}
                    {% if entry.section == "special" and ns.counter % 2 == 0 %}
                    {% set ns.counter = ns.counter + 1 %}
				    <!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Day  {{ entry.day }} — {{ entry.theme }}</h2>
							<p>{{ entry.description }}</p>
							<ul class="actions stacked">
								<li><a href="{{ entry.demo_link }}" class="button" target="_blank">Demo</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/gallery/thumbs/{{ entry.media_link }}" alt="" />
						</div>
					</section>

                    {% elif entry.section == "special" and ns.counter % 2 != 0 %}
                    {% set ns.counter = ns.counter + 1 %}
				    <!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Day  {{ entry.day }} — {{ entry.theme }}</h2>
							<p>{{ entry.description }}</p>
							<ul class="actions stacked">
								<li><a href="{{ entry.demo_link }}" class="button" target="_blank">Demo</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="images/gallery/thumbs/{{ entry.media_link }}" alt="" />
						</div>
					</section>
                    {% endif %}
                {% endfor %}

				<!-- Four-->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>The rest of my entries</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p>
						</div>

						<!-- Gallery -->
                        <div class="gallery style1 medium lightbox onscroll-fade-in">
                        {% for entry in data %}
                            {% if entry.section != "special" %}
                            <article>
                                <a href="images/gallery/thumbs/{{ entry.media_link }}" class="image custom">
                                    <img src="images/gallery/thumbs/{{ entry.media_link }}" alt=""/>
                                </a>
                                <div class="caption">
                                    <h3>Day  {{ entry.day }} — {{ entry.theme }}</h3>
                                    <h6>{{ entry.title }}</h6>
                                    <p>{{ entry.description }}</p>
                                    <ul class="actions fixed">
                                        <li><span class="button small">View</span></li>
                                    </ul>
                                </div>
                            </article>
                            {% endif %}
                        {% endfor %}
                        </div>
					</section>


{% include 'footer.html' %}
